<h4><a href="{{ .Site.BaseURL }}" class="btn">{{ i18n "backtohome" }}</a></h4>
<hr style="opacity: 0.3; max-width: 90%; margin: auto;">
    <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
        <h1 class="nav nav-header" style="text-align: center;">Comments</h1>
        <br>
        <div id="comment-section"></div>
        <script>
        initComments({
        node: document.getElementById("comment-section"),
        defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
        serverName: "cactus.chat",
        siteName: "jothamlim",
        commentSectionId: "cactus-comments"
        })
    </script>
<br>
<h1 class="nav nav-header" style="text-align: center;">Webmention</h1>
<br>
<div id="webmentions"></div>
<form action="https://webmention.io/jothamlim.com/webmention" method="post" target="_blank" style="margin-top: 16px;">
    <label for="source"><em>Comment by posting on your Blog/Reddit/Facebook, include this webpage's link, and send me the URL</em></label>
    <input type="url" name="source" id="source" placeholder="The link to your comment" style="margin-bottom: 14px; width: 90%; display: block;">
    <div hidden>
    <label for="target">Link to the page you're commenting on:</label>
    <input type="url" name="target" id="target" value="{{ printf "%s%s" .Site.BaseURL .Permalink }}" placeholder="The page your webmention is about (probably this page)" style="margin-bottom: 14px; width: 90%; display: block;">
    </div>
    <div style="margin-top: 16px;">
    <input type="submit" class="button" value="Send Webmention">
    </div>
</form>