{{ define "main" }}
<div class="row-fluid navmargin">
    <div class="page-header">
        <h1 class="p-name">
            <span class="dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        </h1>
    </div>
    <span class="e-content">{{ .Content }}</span>
    {{ if .Params.photo}}
    <img loading="lazy" src="{{ .Params.photo }}" alt="Photo" style="max-width:500px; height:auto;">
    <br>
    {{ end }}
    <h4><a href="{{ .Site.BaseURL }}" class="btn">{{ i18n "backtohome" }}</a></h4>
    <hr>
    <div id="webmentions"></div>
</div>

{{ end }}