{{ define "main" }}
<div class="row-fluid navmargin">
    <div class="page-header">
        <h1 class="p-name">{{ .Title }} - <span class="dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</span></h1>
    </div>
    {{ if .Params.DisableToc }}
    {{ else }}
        <h1><em> Table of Content </em></h1>
        <ul>
            {{ .TableOfContents }}
        </ul>
    {{ end }}
    <span class="e-content">{{ .Content }}</span>
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
    <hr>
    <div id="webmentions"></div>
</div>

{{ end }}