{{ define "main" }}
<div class="row-fluid navmargin">
    <div class="page-header">
        <h1 class="p-name">{{ .Title }} - <span class="dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</span></h1>
    </div>
    {{ if .Params.DisableToc }}
    {{ else }}
        <h2><em> Table of Content </em></h2>
        <ul>
            {{ .TableOfContents }}
        </ul>
    {{ end }}
    <span class="e-content">{{ .Content }}</span>
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
    <hr>
    <div id="webmentions"></div>
    <script src="https://giscus.app/client.js"
    data-repo="Jotham-Lim/jothamlim.com_v4"
    data-repo-id="R_kgDOLPFA9Q"
    data-category="Announcements"
    data-category-id="DIC_kwDOLPFA9c4CdCI5"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark_high_contrast"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>
</div>

{{ end }}