{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Site.Params.mainpagetitle }}</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
        <p></p>
        <p>{{ .Site.Params.mainpagedesc }}</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1> Recent {{ i18n "postslist" }}</h1>
        <ul>
            {{ $posts := where .Site.RegularPages "Type" "post" }}
            {{ range first 7 $posts }}
            <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li>
            {{ end }}
        </ul>
        <p></p>
        <hr>
        <p></p>
        <h1>Recent Status Updates</h1>
        <ul>
            {{ range first 3 .Site.RegularPages }}
            {{ if eq .Type "micropost" }}
            <a href="{{ .Permalink }}" class="post-link">
                <span class="date-posted" data-date="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"></span>
            </a>
            {{ .Content }}
            {{ if index .Params "mf-photo"}}
            <img src="{{ index (index .Params "mf-photo") 0 }}" alt="Photo" style="max-width:200px; height:auto;">
            <br>
            {{ end }}
            {{ end }}
            <br style="height: 3em;">
            {{ end }}
        </ul>
        <p></p>                   
    </div>
    <div class="span3 bs-docs-sidebar">
        <h1 class="nav nav-header"> MAIN MENU</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a href="#">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <p></p>
        <h1 class="nav nav-header">{{ i18n "tags" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
        <p></p>
    </div>
</div>

{{ end }}