{{ define "main" }}
<div class="row-fluid navmargin">
    <div class="page-header">
        <h1 class="p-name">
            {{ .Title }} - <span class="dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        </h1>
    </div>
    <span class="e-content">{{ .Content }}</span>
    {{ if index .Params "mf-photo"}}
    <img src="{{ index (index .Params "mf-photo") 0 }}" alt="Photo" style="max-width:500px; height:auto;">
    {{ end }}
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
    <hr>
    <div id="webmentions"></div>
</script>
</div>

{{ end }}